.goodnessseccount  img{
    width:100%;
}
   
.buttermilk{
    background-color:#fff;background-image:linear-gradient(#fff7ef, #fff);
    background-image:-webkit-linear-gradient(#fff7ef, #fff);
    background-image:-moz-linear-gradient(#fff7ef, #fff);
    background-image:-ms-linear-gradient(#fff7ef, #fff);
    background-image:-o-linear-gradient(#fff7ef, #fff);
    padding:50px 40px;
    border:1px solid #efe8e1;
    padding-bottom:20px;
}
   
.smbg{
    background-color:#fff;
    background-image:linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
}
   
.curdbgpro{
    background-color:#fff;  background-image:linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
   }
   
   
   
.mlkpro{
    color:#636362;
    font-size:22px;
    line-height:22px;
    margin-bottom:15px;
    width:43%;
    margin:0 auto;
    text-align:center;
       
}
.goodnesssec a{
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown trigger (the clickable element) */
.dropdown-trigger {
    background-color: rgb(64, 122, 64);
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Style for the dropdown content (the list of items) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style for the dropdown items (links) */
.dropdown-item {
    color: #333;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Style for the dropdown items on hover */
.dropdown-item:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the dropdown trigger is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}